td.col-4.movie__poster.w-25 {

background-repeat: no-repeat;
width: 400px;
height: 400px;

}
.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    background-color: black;
}
form {
    background-color: black;
    color: white;
}
button.btn.text-dark {
    background-color: #cf7b27 ;
    border-radius: 10% / 50%;
    border-color: black ;
   
}
button.btn.text-dark:hover {
    background-color: black ;
}
a.dropdown-item {
    background-color: #772f1a;
    color: black;
    font-weight: bold;
}
a.dropdown-item:hover {
    background-color: #772f1a;
    color: #cf7b27;
}
h1.text-center {
    font-family: 'rockwell';
    font-weight: bold;
}
button.bg-dark.text-center.w-100 {
    background-color: yellow;
}
.navbar 
 {
    background-color: #772f1a;
    background-image: linear-gradient(315deg, #772f1a 0%, #cf7b27 74%);
 }

ul.dropdown-menu.show {
    background-color: #cf7b27;
}
.nav {

    background-color: #772f1a;
    background-image:  linear-gradient(315deg, #772f1a 0%, #cf7b27 74%);
}
.nav-link{

    font-weight: bold;
    color: black;
}