<form method="post" action="{{ path('app_motor_bike_delete', {'id': motor_bike.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input  type="hidden" name="_token" value="{{ csrf_token('delete' ~ motor_bike.id) }}">
    <button class="btn w-100 text-danger">Delete</button>
</form>
