{% extends 'base.html.twig' %}

{% block body %}



<a href="{{ path('app_motor_bike')}}" class="btn btn-dark w-100">back</a>
<div class=" bg-dark text-white">
{{form_start(form)}}

  {{form_widget(form)}}
    <button class="btn btn-secondary w-100" type="submit">Ajouter la moto</button>

{{form_end(form)}}
</div>
{% endblock %}